{% extends "base.html" %}
{% block content %}

<h1>ALL Areas</h1>

<a class="nav-link active" href="{% url 'areas_add' %}">Add Area</a>



<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:25px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 70%">
<colgroup>
<col style="width: 35%">
<col style="width: 35%">
</colgroup>
<thead>
  <tr>
    <th class="tg-0lax">ID</th>
    <th class="tg-0lax">Area Name</th>
  </tr>
</thead>
<tbody>
{% for data in dataset %}
  <tr>
    <td class="tg-0lax">{{ data.id }}</td>
    <td class="tg-0lax">{{ data.name }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
